{% extends "inc/layout.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <a class="button marginTopBottom" href="{{ path('films_list')}}">Films</a>
        <a class="button marginTopBottom" href="{{ path('series_list')}}">Séries</a>
    </div>
{% endblock %}

