{% extends "inc/layout.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <a href="{{ path('series_list')}}">Serie</a>
        <a href="{{ path('films_list')}}">Films</a>
    </div>
{% endblock %}

