{% extends "inc/layout.html.twig" %}

{% block content %}
    <h1>Liste des genres</h1>
    {% for category in category %}

        <a class="button marginTopBottom" href="{{ path('categoryFilm_view', {'id': category.id}) }}">{{ category.label }}</a>
    {% endfor %}
{% endblock %}