{% extends "inc/layout.html.twig" %}

{% block content %}

    <h3>GENRE : {{ category.label }}</h3>
    {% for serie in category.series %}

        <h3>{{ serie.name }}</h3>

    {% endfor %}

{% endblock %}